html,
body {
  height: 100%;
  width: auto;
  margin: 0;
  background-color: black;
}

.L-side-box {
  margin: 0%;
  float: left;
  width: 54.6%;
  height: 95.5%;
  background-image: url(/images/background-img.png);
  background-position: center center;
  background-size: cover;
}

.image-logo-container {
  width: 52px;
  height: 52px;
  padding-bottom: 12px;
}

img {
  position: absolute;
}

.LQEP {
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 48px;
  letter-spacing: -1.2px;
  transform: scaleY(0.9);
  line-height: 84px;
}

.UATH {
  display: inline-block;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  height: 30px;
  font-size: 31px;
  font-weight: 700;
  margin-top: -28px;
  margin-bottom: 32px;
  letter-spacing: -1.2px;
  transform: scaleY(0.9);
  line-height: 36px;
}

.button-container {
  position: relative;
  right: 45px;
}

.button-container ul {
  list-style: none;
  margin-bottom: 0px;
}

.button-container ul button {
  display: block;
  height: 40px;
  width: 295px;
  border-radius: 30px;
  margin-bottom: 8px;
  border: none;
  font-weight: 700;
}

.span-google {
  position: relative;
  bottom: 2px;
  color: rgb(82, 82, 82);
}

.span-apple {
  position: relative;
  bottom: 2px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.span-telephone {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.white-logo {
  z-index: 2;
  margin: auto;
  width: 445px;
  height: 445px;
  left: 0;
  right: 840px;
  bottom: 53px;
  top: 0;
}

.R-side-info {
  justify-content: center;
  margin-top: 180px;
  margin-right: 75px;
  float: right;
  padding: 20px;
  width: 720px;
  height: 605px;
  border: 5px;
  border-color: darkkhaki;
}

.R-side-info a {
  color: rgb(29, 155, 240);
  text-decoration: none;
}

.button-list button {
  cursor: pointer;
}

.google-button img {
  position: relative;
  top: 2.5px;
  right: 5px;
  width: 18px;
  height: 18px;
}

.apple-button img {
  position: relative;
  top: 2px;
  right: 5px;
  width: 18px;
  height: 18px;
}

.policy-container {
  width: 370px;
  margin-top: -5px;
}

.policy-info {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: dimgrey;
}

.policy-info a:hover {
  text-decoration: underline;
}

.solicitud-cuenta {
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  float: left;
  height: 48px;
  width: 100%;
  font-size: 13px;
  color: rgba(169, 169, 169, 0.644);
  padding-top: 15px;
  padding-left: 60px;
  padding-right: 60px;
}

nav a {
  margin-right: 17px;
  color: rgba(169, 169, 169, 0.644);
  text-decoration: none;
  height: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
}

nav a:hover {
  text-decoration: underline;
}

.register-info {
  width: 100%;
  height: 100%;
  color: white;
}

.white-logo-register {
  margin: 0;
  width: 52px;
  height: 52px;
}

@media (max-width: 917px) {
  .L-side-box {
    width: 100%;
    height: 471.14px;
  }

  .R-side-info {
    float: none;
    width: 594px;
    height: 631px;
    margin: auto;
    left: 0;
    right: 0;
  }

  nav {
    box-sizing: border-box;
    float: left;
    height: 96px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  .white-logo {
    left: 0;
    right: 0;
    bottom: 0;
    top: 770px;
  }

  .white-logo-register {
    margin: 0;
    width: 50px;
    height: 50px;
    top: 27px;
  }

  .white-logo {
    width: 480px;
    height: 480px;
  }
}
